#content-wrapper{
  height: 100vh;
  display: flex;
}


#register-card{
  margin: 0 5vh;
}

#header{
  margin: 0 5vh;
  margin-top: 10vh;
  margin-bottom: 1vh;

}

#title-register{
  text-align: center;
}

#forgot-wrapper{
  text-align:center;
  display: flex;
}

#forgot{
  text-decoration: none;
}

hr{
  background-color: rgb(95, 95, 95);
}

