#toolbar{
  text-align: center;
  font-weight: bold;
}

.new-background-color{
  --background: #f19800;
}

#title{
  text-align: center;
  margin: 1em 0;
}

#detalle-button{
  margin: 0.5em 0.5em;
}

/* img{
  margin: auto ;
  padding: auto;
} */

.hcs {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: auto;
}