<ion-header>
  <ion-toolbar id="toolbar">
    <ion-buttons
      ><ion-button slot="start" (click)="toggleMenu()"
        ><ion-icon slot="icon-only" name="menu"></ion-icon
      ></ion-button>
      <ion-title>
        <ion-row class="ion-align-items-center">
          <ion-col size="">
            <img
              height="50em"
              src="assets/images/logo-grande-serviexpress-dark.png"
            /> </ion-col
        ></ion-row>
      </ion-title>
      <ion-back-button slot="end"></ion-back-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let servicio of servicios">
    <ion-card-header>
      <ion-card-subtitle
        >Duraci&oacute;n: {{servicio.tiempo}} hrs</ion-card-subtitle
      >
      <ion-card-title>{{servicio.descripcion}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{servicio.comentario}} <br />
      <br />
      Valor de servicio: ${{servicio.valor}}
    </ion-card-content>
    <ion-button expand="block" color="success" id="agendar-button">
      Agendar servicio</ion-button
    >
  </ion-card>
</ion-content>
